# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# we only want the source
gradle
Build Mod.bat
build.gradle
Github.bat
gradle.properties
gradlew
gradlew.bat
setupEclipse.bat
SetupWorkspace.bat
UpdateForge.bat
setupCleanCache.bat
